using System;
using System.Text;
using System.Collections.Generic;
using System.Linq;
using System.IO;

namespace $project_name$
{
	public class $file_name$
	{
		public static int eyeMain(string[] args)
		{
			Console.WriteLine("Hello world!");
		}
	}
}